body {
    background-image: url(/day-1/odev-1/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#baslik {
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

#links {
    text-decoration: none;
    color: blue;
    display: flex;
    justify-content: space-evenly;
    
}

.headerlink :link, :visited {
    text-decoration: none;
    color: darkgreen;
}

.headerlink :hover {
    color: darkblue;
}

p, h3 {
    text-align: center;
    color: antiquewhite;
}

li {
    text-align: center;
    list-style-position: inside;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: bisque;
}

.listlink {
    color: aliceblue;
}